@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Open+Sans&display=swap');

:root {
    --greyBorder: #4b4b4b;
}


* {
    color: #ffffff;
    font-family: 'Heebo';
}

html {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Heebo';
}

body {
    margin: 0;
    height:100%;
}

#tweet {
    width: 13vw;
    height: 5vh;
    background-color: #1d9bf0;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    margin-bottom: 28vh;
}

.content {
    display: flex;
    flex-direction: row;
}

.tweets {
    border-right: solid 1px var(--greyBorder);
    border-left: solid 1px var(--greyBorder);
    margin-left: 32vw;
    margin-right: 1vw;
    height: auto;
}

.homeBar {
    position: fixed;
    width: 32.4vw;
    height: 2.5vw;
    backdrop-filter: blur(20px);
}

.barTitle {
    display: inline-block;
    padding: 10px 10px;
    margin: 0;
}

.tweetBox {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 6.5vh;
    border-bottom: solid 1px var(--greyBorder);
}

.tweetBox textarea {
    resize: none;
    background: none;
    height: auto;
    width: 25vw;
    margin-top: 5px;
    margin-left: 1vw;
    margin-bottom: 2vh;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    border: none;
}

.tweetBox textarea:focus {
    outline: none;
    border-bottom: 1px solid var(--greyBorder);
}

.iconsAndTweet {
    margin-left: 4.5vw;
    margin-bottom: 1vw;
}

.iconsAndTweet img {
    width: 20px;
    height: 20px;
    padding-left: 1vw;
}

.tweetSection {
    display: flex;
    flex-direction: row;
}

.tweetSection img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    margin-left: 13px;
}

.title {
    margin-left: 1vw;
    margin-bottom: 0px;
    padding-top: 1vh;
}

.list {
    background: #16181c;
    margin-top: 2vh;
    width: 18vw;
    border-radius: 20px;
    margin-left: 1vw;
}

.menu {
    width: 18px;
    height: 18px;
    align-self: center;
    margin-left: 2vw;
}