@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

* {
    color: #ffffff;
    font-family: 'Heebo';
}

html {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Heebo';
}

body {
    margin: 0;
    height:100%;
}

.content {
    display: flex;
    flex-direction: row;
}

.tweets {
    border-right: solid 1px #4b4b4b;
    border-left: solid 1px #4b4b4b;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    height: auto;
}

/* .background {
    z-index: 0;
    background-color: #16181c;
    width: 20vw;
    height: 82vh;
    border-radius: 20px;
    margin-top: 2vh;
}

.trending {
    position: absolute;
    z-index: 1;
    margin-left: 1vw;
} */

/* .trending {
    background: #16181c;
    margin-top: 2vh;
    width: 18vw;
    border-radius: 20px;
} */

.list {
    background: #16181c;
    margin-top: 2vh;
    width: 18vw;
    border-radius: 20px;
    margin-left: 1vw;
}