#logo {
    margin-bottom: 2vh;
}

#tweet {
    width: 11vw;
    height: 5vh;
    background-color: #1d9bf0;
    border-radius: 50px;
    border: none;
    font-size: 18px;
}

.navbar {
    display: flex;
    padding: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    margin-left: 16vw;
    font-size: 23px;
}

.navigation {
    display: flex;
    flex-direction: column;
    font-size: 23px;
}

.navigation button {
    height: 4vh;
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    border: none;
}

.navigation button > span {
    padding-left: 1vw;
}

.navigation button > img,
button > span {
    vertical-align: middle;
}